@import '../assets/styles/varibles';

ul {
  padding-inline-start: 0px;

  li {
    list-style: none;
  }
}


.app {
  width: 100%;
  ::ng-deep .logo {
    width: 120px;
    height: 31px;
    background: url("~/assets/image/logo.png") no-repeat;
    background-size: 100%;
    margin: 16px 30px 16px 0;
    float: left;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .header-menu {
    line-height: 64px;
    font-size: large;
  }

  .member{
    display: flex;
    float: right;
    align-items: center;
    color: $white-color;
  }

  .inner-layout {
    z-index: 99;
    width: 750px;
    float: left;
    padding: 0 24px 0px 150px;
  }

  nz-breadcrumb {
    margin: 16px 0;
    width: 750px;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    width: 750px;
  }

  ::ng-deep nz-sider {
    z-index: 98;
    float: left;
    background: #fff;
    margin-right: 150px;
  }

  nz-footer {
    padding: 0;
  }

  .footer {
    font-size: 14px;
    color: #fff;
    padding-top: 20px;

    .top-group {
      width: 100%;
      background: #001529;
      height: 100px;
      padding-top: 26px;
      box-sizing: border-box;

      .top-inner-group {
        margin: 0 auto;
        position: relative;

        .detail-group {
          float: left;
          margin-left: 84px;

          .line1 {
            overflow: hidden;

            .links {
              float: left;
              overflow: hidden;

              li {
                float: left;
                padding: 0 10px;

                a {
                  color: #c9c9c9;
                }

                &:first-of-type {
                  padding-left: 0;
                }

                &:last-of-type {
                  border-right: none;
                }

                border-right: 1px solid #c9c9c9;
              }
            }

            .about-us {
              float: left;
              margin-left: 40px;

              .title {
                float: left;
              }

              .social-group {
                float: left;
                overflow: hidden;

                li {
                  float: left;
                  color: #fff;

                  .text {
                    margin-left: 14px;
                  }
                }

                .wechat {
                  background: url("https://www.xfz.cn/static/build/images/wx-icon.png");
                  background-repeat: no-repeat;
                  background-size: 26%;
                  background-position: -1px;
                  cursor: pointer;

                  &:hover .wechat-qrcode {
                    z-index: 99;
                    display: block;
                  }

                  .wechat-qrcode {
                    width: 204px;
                    height: 204px;
                    background: url("~/assets/image/Qrcode.png");
                    background-size: 100%;
                    position: absolute;
                    right: 360px;
                    top: -220px;
                    display: none;
                  }
                }

                .weibo {
                  margin-left: 20px;
                  background: url("https://www.xfz.cn/static/build/images/xl-icon.png");
                  background-repeat: no-repeat;
                  background-size: 20%;
                  background-position: -1px;
                  a {
                    color: #fff;
                  }
                }
              }

            }
          }

          .line2 {
            overflow: hidden;
            margin-top: 20px;

            .address {
              float: left;
            }

            .contact {
              float: left;
              margin-left: 60px;
            }
          }
        }
      }
    }

    .bottom-group {
      background: #001529;
      height: 60px;
      text-align: center;
      line-height: 60px;
    }
  }
}
