################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApplication/bin/Debug/netcoreapp3.1/logs/app_logs_2020-08-14.log
/WebApplication/bin/Debug/netcoreapp3.1/logs
/WebApplication/UploadFile
