[nz-form] {
  max-width: 100%;
}

:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 300px;
  height: 150px;
}

nz-date-picker,
nz-month-picker,
nz-range-picker,
nz-week-picker {
  margin: 0 8px 8px 0;
}

nz-select {
  margin: 0 8px 8px 0;
  width: 120px;
}
