[nz-form] {
  max-width: 100%;
}

i[nz-icon] {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}

:host ::ng-deep .cover-upload > .ant-upload {
  width: 300px;
  height: 150px;
}
.preview{
  z-index: 999;
}

nz-date-picker,
nz-month-picker,
nz-range-picker,
nz-week-picker {
  margin: 0 8px 8px 0;
}

nz-select {
  margin: 0 8px 8px 0;
  width: 120px;
}

.wangEditor-box{
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
