<div class="app">
  <nz-layout class="header">
    <nz-header>
      <div class="logo"><a [routerLink]="['/news']"></a></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected><a [routerLink]="['/news']">新闻</a></li>
        <li nz-menu-item><a href="https://localhost:6001/swagger">Swagger</a></li>
        <div class="member">
          <div class="no-login" *ngIf="!oidc.userAvailable">
            <ul nz-menu nzTheme="dark" nzMode="horizontal">
              <li nz-submenu>
                <div title>
                  <span>登陆</span>
                  <i nz-icon type="down" nzTheme="outline"></i>
                </div>
                <ul>
                  <li nz-menu-item>
                    <a (click)="oidc.triggerSignIn()">
                      <i nz-icon type="mobile" nzTheme="outline"></i>
                      手机登陆
                    </a>
                  </li>
                  <li nz-menu-item>
                    <a [routerLink]="['/signup']">
                      <i nz-icon type="user-add" nzTheme="outline"></i>
                      注册
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="login" *ngIf="oidc.userAvailable">
            <ul nz-menu nzTheme="dark" nzMode="horizontal">
              <li nz-submenu>
                <div title>
                  <span>我的</span>
                </div>
                <ul>
                  <li nz-menu-item>
                    <a [routerLink]="['/profile']">
                      <i nz-icon type="smile" nzTheme="outline"></i>
                      个人中心
                    </a>
                  </li>
                  <li nz-menu-item>
                    <a [routerLink]="['/cms']">
                      <i nz-icon type="database" nzTheme="outline"></i>
                      后台管理
                    </a>
                  </li>
                  <li nz-menu-item>
                    <a (click)="oidc.triggerSignOut()">
                      <i nz-icon type="logout" nzTheme="outline"></i>
                      退出
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </ul>
    </nz-header>
    <div>
      <router-outlet></router-outlet>
    </div>
    <nz-footer class="footer">
      <div class="top-group">
        <div class="top-inner-group">
          <div class="detail-group">
            <div class="line1">
              <ul class="links">
                <li><a href="#">版权政策</a></li>
                <li><a href="#">用户协议</a></li>
                <li><a href="#">意见反馈</a></li>
                <li><a href="#">加入我们</a></li>
              </ul>
              <div class="about-us">
                <span class="title">关于我们：</span>
                <ul class="social-group">
                  <li class="wechat">
                    <span class="text">公众号</span>
                    <div class="wechat-qrcode"></div>
                  </li>
                  <li class="weibo">
                    <a class="text" href="#" target="_blank">官方微博</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="line2">
              <p class="address">中国海南省三沙市西沙区黄岩岛</p>
              <p class="contact">联系方式：12345678900</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-group">
        © 2020 angular | 沪ICP备00000000号
      </div>
    </nz-footer>
  </nz-layout>
</div>
